.navbar-nav .sidebar-brand img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.navbar-nav .sidebar-brand{
    height: 200px;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#F11600 10%,#002538 100%);
    background-size: cover;
}


.bg-gradient-primary-nav {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#F11600 10%,#a50b25 100%);
    background-size: cover;
}

.erro {
    color: red;
}

.alert {
    width:100%;
    margin: 10px 14px;  
}



  /*
   * Cliente
   */ 
.iconwhite {
    color:white;
    font-size: 25px;
}

.textwhite {
    color:white;
    font-size: 18px;
}

.banner-img img {
    display: block !important;
    width: 100%;
}

.no-padding {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}